html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.75rem;
	display: block;
}

p {
	font-size: 1.5rem;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

nav ul {
	/*display: flex;*/
	/*//justify-content: space-between;*/
	/*flex-wrap: wrap;*/
	list-style: none;
	font-size: 1.5rem;
	padding-inline-start: 0;
}

.main-nav {
	grid-area: main-nav;
	background-color: orange;
}

.header {
	grid-area: header;
	background-color: red;
	color: white;
}

.about {
	grid-area: about;
	background-color: yellow;
}

.about-me, 
.proj-1-title-open, 
.proj-2-title-open,
.proj-3-title-open {
	display: none;
}

#proj-1-title, #proj-2-title, #proj-3-title, 
.proj-1-title-open, .proj-2-title-open, .proj-3-title-open,
.about-me, #about-side-arrow {
	cursor: pointer;
}

.projects {
	grid-area: projects;
	background-color: green;
	color: white;
}

.skills {
	grid-area: skills;
	background-color: blue;
	color: white;
}

.footer {
	grid-area: footer;
	background-color: purple;
	color: white;
}

.wrapper {
	display: grid;
	grid-template-areas: "header"
											 "main-nav"
											 "about"
											 "projects"
											 "skills"
											 "footer";
	gap: 10px;
}

.box {
	border-radius: 5px;
	padding: 10px;
}

@media screen and (min-width: 500px) {
	.wrapper {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "header header"
												 "main-nav main-nav"
												 "about projects"
												 "skills projects"
												 "footer footer";
	}

	nav ul {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (min-width: 700px) {
	.wrapper {
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas: "header header header"
												 "main-nav main-nav main-nav"
												 "about projects skills"
												 "footer footer footer";
	}
}