html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
	font-size: 4rem;
}

.main-nav {
	grid-area: main-nav;
	background-color: blue;
}

.header {
	grid-area: header;
	background-color: red;
}

.about {
	grid-area: about;
	background-color: orange;
}

.projects {
	grid-area: projects;
	background-color: yellow;
}

.skills {
	grid-area: skills;
	background-color: green;
}

.footer {
	grid-area: footer;
	background-color: purple;
}

.wrapper {
	display: grid;
	grid-template-areas: "header"
											 "main-nav"
											 "about"
											 "projects"
											 "skills"
											 "footer";
}

nav ul {
	/*display: flex;*/
	/*//justify-content: space-between;*/
	/*flex-wrap: wrap;*/
	list-style: none;
	font-size: 2rem;
}

